.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 101;
}
.hamburger-line {
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}
.hamburger-x {
  font-size: 2rem;
  color: white;
  line-height: 0.5;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}
