/* src/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f4f7f6;
  color: #333;
  min-height: 100vh;
}

/* Kelas Pembantu */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

a {
  text-decoration: none;
}
